.todos-actions>*, .todos-actions>label>* {
  margin: 0.5rem;
}

.todos-task {
  list-style-type: none;
}

.todos-task label[data-done="true"] {
  color: green;
}

.todos-tasks {
  padding-left: 0;
}

select,label {
  margin: 0.5rem;
}

.todos-task [data-public="true"] {
  font-weight: 600;
}

span.new-task-badge:before {
  content: 'new!';
  color: lightgreen;
  font-size: 0.8rem;
  vertical-align: top;
}
